{% extends "base_site.html" %}

{% block title %} Login {% endblock title %}

{% block stylesheets %}
{{ super() }}
{% endblock stylesheets %}

{% block body_class %}login{% endblock body_class %}

{% block body %}
<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="dashboard_graph">
                <div style="width: 100%; min-height:400px;">
                    <div class="login_wrapper">
                        <div class="animate form login_form">
                            <section class="login_content">
                                <form data-parsley-validate method="post">
                                    {{ login_form.csrf_token }}
                                    <h1> Login </h1>
                                    {% for field in login_form if field.widget.input_type != 'hidden' %}
                                    <div>
                                        {{ field(class="form-control required", placeholder=field.label.text) }}
                                    </div>
                                    {% endfor %}
                                    <div>
                                        <button type="submit" class="btn btn-default submit" name="login"> Log in
                                        </button>
                                    </div>
                                    <div class="clearfix"></div>
                                </form>
                                <h4>{{ status }}</h4>
                            </section>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}

{% block javascripts %}
{{ super()}}
{% endblock javascripts %}