{% extends "base_site.html" %}

{% block title %} Dashboard 1 {% endblock title %}

{% block stylesheets %}
{{ super() }}
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
  <div class="">
    <div class="col-md-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>{{ device_name }} <small>Edit</small></h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i
                  class="fa fa-wrench"></i></a>
              <ul class="dropdown-menu" role="menu">
                {% if explore_url is defined %}
                <li>
                  <a href="{{ explore_url }}">Back to Explore</a>
                </li>
                {% endif %}
                {% if pat_creator_url is defined %}
                <li>
                  <a href="{{ pat_creator_url }}">Pattern Creator</a>
                </li>
                {% endif %}
                {% if new_alarm_url is defined %}
                <li>
                  <a href="{{ new_alarm_url }}">New Alarm</a>
                </li>
                {% endif %}
                {% if full_download is defined %}
                <li>
                  <a href="{{ full_download }}">Download data</a>
                </li>
                {% endif %}
              </ul>
            </li>
            <li>
              <a class="close-link" href="{{ explore_url }}"><i class="fa fa-close"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <!-- <div class="embed-responsive embed-responsive-4by3 dashboard_graph">
            <iframe class="embed-responsive-item" src="{{ dash_url }}" frameborder="0">
            </iframe>
          </div> -->
          <div class="">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="dashboard_graph">
                <div style="width: 100%; min-height:5000px;">
                  <iframe style='position: absolute; background: transparent; width: 95%; height:100%;'
                    src="{{ dash_url }}" frameborder="0" , id="mainIFrame">
                  </iframe>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block javascripts %}
{{ super()}}
{% endblock javascripts %}