{% extends "base_site.html" %}

{% block title %} Explore {% endblock title %}

{% block stylesheets %}
{{ super() }}
{% endblock stylesheets %}

{% block content %}

<script type="text/javascript">
  function addSensors() {
    $('.image_display').each(function (e) { this.src += "&sensors"; });
  }

  function display_alarm() {
    $('#mainIFrame').each(function (e) {
      var url = new URL(this.src);
      url.searchParams.set("alarm", true)
      this.src = url.href;
    });
  }

</script>

<div class="right_col" role="main">
  <div class="col-md-6">
    <div class="x_panel">
      <div class="x_title">
        <h2>{{ device_name }} <small>Pattern</small></h2>
        <ul class="nav navbar-right panel_toolbox">
          <li>
            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li>
            <a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <img class="img-fluid" src="/pattern/{{ device_name }}/qc.png" image">
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="x_panel">
      <div class="x_title">
        <h2>{{ device_name }} <small class="image_display_date">Latest image</small></h2>
        <ul class="nav navbar-right panel_toolbox">
          <li>
            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i
                class="fa fa-wrench"></i></a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="{{ edit_url }}">Edit outputs</a>
              <label class="dropdown-item"><input type="checkbox" class="img_param" id="im_param_target"
                  onclick="generate_img_url()">Show targets</label>
              <label class="dropdown-item"><input type="checkbox" class="img_param" id="im_param_diff"
                  onclick="generate_img_url()">Differential</label>
            </div>
          </li>
          <li>
            <a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div id="device_id_value" style="visibility: hidden; height: 0px;">{{ device_name }}</div>
        <a data-toggle="modal" data-target=".modal-latest-image" style="cursor: pointer;">
          <img class="img-fluid image_display" src="/latest/{{ device_name }}/iron.jpg?timestamp" image">
        </a>
      </div>
    </div>
  </div>
  <div class="">
    <div class="col-md-12">
      <div class="x_panel">
        <div class="x_content">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="dashboard_graph">
                <iframe style=' background: transparent; width: 100%;' src="{{ dash_url }}" frameborder="0" ,
                  id="mainIFrame">
                </iframe>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12 col-sm-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Notifications</h2>
        {% if Is_admin %}
        <ul class="nav navbar-right panel_toolbox">
          <li>
            <a data-toggle="modal" data-target=".bs-example-modal-lg"><i class="fa fa-plus"></i></a>
          </li>
        </ul>
        {% endif %}
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="dashboard-widget-content">
          <ul class="list-unstyled timeline widget">

            {% for item in notifications %}
            <li>
              <div class="block">
                <div class="block_content">
                  <h2 class="title">
                    <a>{{ item.title }}</a>
                    {% if Is_admin %}
                    <a href="/settings/notification/{{ device_name }}/delete/{{ item.notification_id }}"><i
                        class="fa fa-trash"></i></a>
                    {% endif %}
                  </h2>
                  <div class="byline">
                    <B>{{ item.time }}:</B> by <a>{{ item.author }}</a>
                  </div>
                  <p class="excerpt">{{ item.description }}
                  </p>
                </div>
              </div>
            </li>
            {% endfor %}

            {% if notifications|length == 0 %}
            <H6>There are no notifications at the time</H6>
            {% endif %}

          </ul>
        </div>
      </div>
    </div>
  </div>

</div>



<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Add a new notification</h4>
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
        </button>
      </div>

      <!-- data-parsley-validate -->
      <div class="modal-body">
        <form method="POST" action="/settings/notification/{{ device_name }}">
          <div class="item form-group">
            <label class="col-form-label col-md-3 label-align" for="first-name">Title <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 ">
              <input type="text" id="title" required="required" class="form-control" name="title">
            </div>
          </div>

          <div class="item form-group">
            <label class="col-form-label col-md-3 label-align" for="first-name">Date <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 ">
              <input type="text" id="notification-date" required="required" class="form-control DateTimeSelectors"
                name="date">
            </div>
          </div>

          <div class="item form-group">
            <label class="col-form-label col-md-3 label-align" for="first-name">Description <span
                class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 ">
              <textarea class="form-control" rows="3" placeholder="Une description..." id="description"
                name="description"></textarea>
            </div>
          </div>


          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>



<div class="modal fade modal-latest-image" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">{{ device_name }} <small class="image_display_date">Latest image</small></h4>
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
        </button>
      </div>

      <!-- data-parsley-validate -->
      <div class="modal-body">

        <img class="img-fluid image_display" src="/latest/{{ device_name }}/iron.jpg?timestamp" image">

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
</div>



{% endblock content %}

{% block javascripts %}
{{ super()}}
{% endblock javascripts %}