<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml"
    xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <!-- [ if !mso]> <!-->
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <title>Alarme {{ alarm.label }}: {{user_group.description}}</title>
</head>

<body>
    <h1>AIMsight monitoring Alarme {{user_group.description}}</h1>

    <p>Bonjour {{ name }},</p>

    <p>Alarme <b>{{ alarm.label }}</b> {{user_group.description}} du système <b>{{ alarm.device.name }}</b> déclenchée à
        {{ alarm_event.event_date.strftime('%H:%M') }}</p>
    <p>Vous recevez cet email car vous faites de la liste de diffusion des alarmes <i>{{user_group.name}}</i></p>
    <p>Les données de mesures ainsi que la prise de vue courante sont disponibles <a
            href="https://monitoring.aimsight.ch/explore/{{ alarm.device.name  }}">ici</a>.
        Ceci est une notification automatique. Pour toute question y-relative, veuillez vous adresser à <a
            href="mailto:alarm@aimsight.ch">alarm@aimsight.ch</a>.</p>

</body>

</html>