{% extends "base_site.html" %}

{% block title %} Home {% endblock title %}

{% block stylesheets %}
{{ super() }}
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">

  <div id="system_banner_content"></div>

  <div class="">

    <div class="col-md-8 col-sm-8">
      <div class="x_panel">
        <div class="x_title">
          <h2>Explore</h2>
          <span id="filter_bar_content" class="input-group navbar-right panel_toolbox"
            style="width: 300px; margin-bottom: 0px; visibility: hidden;">
            <input id="filter_input" type="text" class="form-control" style="height: 90%;" placeholder="Filtering ...">
          </span>

          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="dashboard-widget-content">

            <div class="row justify-content-center">
              {% for item in explore %}

              <div class="card" style="width: 18rem; margin: 10px;">
                <img src="/pattern/{{ item.name }}/qc.png?thumbnail=true" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title" style="margin-bottom: .1rem;">{{ item.name }}</h5>
                  <div class="card-text">
                    <div style="height: 19px;">
                      {% if item.is_archive %}
                      <span class="badge badge-secondary">Archive</span>
                      {% endif %}
                      {% if item.is_internal %}
                      <span class="badge badge-warning">Internal</span>
                      {% endif %}
                    </div>
                    <p class="">{{ item.description|default(' ', true) }}</p>
                  </div>
                  <div class="btn-group">
                    <a class="btn btn-secondary" href="/explore/{{ item.name }}">Mesures</a>
                    {% if Is_admin %}
                    <a class="btn btn-secondary" href="/settings/device/{{ item.name }}"><i class="fa fa-edit"></i></a>
                    {% if not item.is_archive %}
                    <a class="btn btn-secondary" href="/explore/pattern_creator/{{ item.name }}"><i
                        class="fa fa-th"></i></a>
                    <a class="btn btn-secondary" href="/explore//alarms/{{ item.name }}"><i class="fa fa-bell"></i></a>
                    {% endif %}
                    {% endif %}

                  </div>
                </div>
              </div>

              {% endfor %}

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-4">
      <div class="x_panel">
        <div class="x_title">
          <h2>Notifications
            {% if notifications|length > 0 %}
            <div class="badge bg-secondary" style="color: white;">{{ notifications|length }}</div>
            {% endif %}
          </h2>
          <ul class="nav navbar-right panel_toolbox">
            {% if notifications|length > 0 %}
            <li><a href="/notification/clear_all" data-toggle="tooltip" data-placement="top" title="Clear all"><i
                  class="fa fa-trash"></i></a>
            </li>
            {% endif %}
          </ul>


          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="dashboard-widget-content">
            <ul class="list-unstyled timeline widget">

              {% for item in notifications %}
              <li>
                <div class="block">
                  <div class="block_content">
                    <h2 class="title">
                      <a href="/redirect/notification/{{ item.UserNotification_id }}">{{ item.title }}</a>
                    </h2>
                    <div class="byline">
                      <span>{{ item.time }}</span> by <a>{{ item.author }}</a>
                    </div>
                    <p class="excerpt">{{ item.description|safe }}
                    </p>
                  </div>
                </div>
              </li>
              {% endfor %}

              {% if notifications|length == 0 %}
              <H6>There are no notifications at the time</H6>
              {% endif %}

            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
{% endblock content %}

{% block javascripts %}
{{ super()}}
{% endblock javascripts %}