{% if bat_lvl|length > 0 %}

<div class="row top_tiles tile_count justify-content-start">

    {% for key, item in bat_lvl.items() %}

    <div class="col-sm-auto  tile_stats_count">
        <div class="row">
            <div class="col-md-7"><a href="/explore/system/{{ key }}">{{ key }} <i
                        class="fa fa-battery-three-quarters"></i></a>
            </div>
            <div class="col-md-5" style="text-align: right; font-weight: bold;">
                {{ "%2.2f[V]"|format(item[-1])}}
            </div>
        </div>
        <span class="sparkline_battery" style="height: 190px;"
            values="{% for v in item %} {{ '%2.3f'|format(v)}} {% if not loop.last %},{% endif %}{% endfor %}">
            <canvas width="200" height="60"
                style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>
        </span>

    </div>
    {% endfor %}

</div>
{% else %}
<div></div>
{% endif %}