{% extends "base_site.html" %}

{% block title %} Dashboard 1 {% endblock title %}

{% block stylesheets %}
{{ super() }}
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">

  <div class="">

    <div class="col-md-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Tasks <small>management</small></h2>
          <div class="clearfix"></div>
        </div>
        <H3>Endpoints</H3>

      </div>
    </div>

  </div>
</div>
{% endblock content %}

{% block javascripts %}
{{ super()}}
{% endblock javascripts %}