<div class="left_col scroll-view">
  <div class="clearfix"></div>

  <div class="navbar nav_title" style="border: 0;">
    <a href="/" class="site_title">AIMsight monitoring</a>
  </div>
  <!-- menu profile quick info -->
  <div class="profile clearfix">
    {% if is_logged %}
    <div class="profile_pic">
      <img src="{{ picture }}" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
      <span>Welcome,</span>
      <h2> {{ name }} </h2>
    </div>
    {% else %}
    <div>
      You are not logged
    </div>
    {% endif %}
  </div>
  <!-- /menu profile quick info -->

  <br />

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <h3>General</h3>
      <ul class="nav side-menu">

        <li><a href="/"><i class="fa-solid fa-home"></i> Home <span></span></a></li>

        <li><a><i class="fa-solid fa-list"></i> Explore <span class="fa-solid fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            {% for item in explore %}
            <li><a href="/explore/{{ item.name }}">{{ item.name }}</a></li>
            {% endfor %}
          </ul>
        </li>
        {% if Is_admin %}
        <li><a><i class="fa-solid fa-cog"></i> Settings <span class="fa-solid fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/settings/new_device">New Device</a></li>
            <li><a href="/settings/users">Users</a></li>
          </ul>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
  <!-- /sidebar menu -->

  <!-- /menu footer buttons -->
  <div class="sidebar-footer hidden-small">
    {% if Is_admin %}
    <a data-toggle="tooltip" data-placement="top" title="Admin Settings" href="/settings/add_user">
      <i class="fa-solid fa-user"></i>
    </a>
    {% else %}
    <a data-toggle="tooltip" data-placement="top" title="Settings" href="/settings/change_password">
      <i class="fa-solid fa-key"></i>
    </a>
    {% endif %}
    <a data-toggle="tooltip" data-placement="top" title="Reference" href="/reference">
      <i class="fa-regular fa-file-lines"></i>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Lock">
      <i class="fa-solid fa-lock"></i>
    </a>
    {% if is_logged %}
    <a data-toggle="tooltip" data-placement="top" title="Logout" href="/logout">
      <i class="fa-solid fa-right-from-bracket"></i>
    </a>
    {% else %}
    <a data-toggle="tooltip" data-placement="top" title="Login" href="/login">
      <i class="fa-solid fa-right-to-bracket"></i>
    </a>
    {% endif %}
  </div>
  <!-- /menu footer buttons -->
</div>