<!-- top navigation -->
<div class="nav_menu">
  <div class="nav toggle">
    <a id="menu_toggle"><i class="fa fa-bars"></i></a>
  </div>
  <nav class="nav navbar-nav">
    <ul class=" navbar-right">
      <li class="nav-item dropdown open" style="padding-left: 15px;">
        {% if is_logged %}
        <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown"
          data-toggle="dropdown" aria-expanded="false">
          <img src="{{ picture }}" alt="">{{ name }}
        </a>
        <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/settings/user">Profile</a>
          {% if Is_admin %}
          <a class="dropdown-item" href="javascript:;">
            <span class="badge bg-red pull-right">ADMIN</span>
            <span>Settings</span>
          </a>
          {% endif %}
          <!-- <a class="dropdown-item" href="javascript:;">Help</a> -->
          <a class="dropdown-item" href="/logout"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
        </div>
        {% else %}
        <a href="/login">Log in <i class="fa fa-sign-in"></i></a>
        {% endif %}
      </li>

    </ul>
  </nav>
</div>
<!-- /top navigation -->