{% extends "base_site.html" %}

{% block title %} {{ title }} {% endblock title %}

{% block stylesheets %}
{{ super() }}
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
  <form data-parsley-validate method="post" enctype="multipart/form-data">
    <div class="row">
      <div class="col-md-6">
        <div class="x_panel">
          <div class="x_title">
            <h2>Device Settings<small>{{ form.device_name.data|default("New device", true) }}</small></h2>

            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            {{ form.hidden_tag() }}

            {% for item in form.left_fields %}
            <div class="form-group row ">
              <label class="control-label col-md-3 col-sm-3 ">{{ item.label.text }}
                {% if item.flags.required %}<span class="required">*</span>{% endif %}
              </label>
              <div class="col-md-9 col-sm-9 ">
                {{ item() }}
              </div>
            </div>
            {% endfor %}

            <div class="clearfix"></div>

          </div>
        </div>

        <div class="x_panel">
          <div class="x_title">
            <h2>Data upload<small>Not fully implemented yet</small></h2>

            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            {% for item in form.upload_fields %}
            <div class="form-group row ">
              <label class="control-label col-md-3 col-sm-3 ">{{ item.label.text }}
                {% if item.flags.required %}<span class="required">*</span>{% endif %}
              </label>
              <div class="col-md-9 col-sm-9 ">
                {{ item() }}
              </div>
            </div>
            {% endfor %}

            <div class="clearfix"></div>

          </div>
        </div>
        {{ form.submit(class="btn btn-secondary")}}
        {{ form.delfield(class="btn btn-danger")}}
      </div>
      <div class="col-md-6">

        <div class="x_panel">
          <div class="x_title">
            <h2>Groups</h2>
            {% if form.device_id is not none %}
            <ul class="nav navbar-right panel_toolbox">
              <li>
                <a href="{{ url_for('settings_blueprint.goup_creation_and_update', device_id=form.device_id, group_id='new') }}"
                  data-toggle="tooltip" data-placement="top" title="New Group"><i class="fa fa-plus"></i></a>
              </li>

            </ul>
            {% endif %}
            <div class="clearfix"></div>
          </div>
        </div>
        {% for grp, users in form.groups.items() %}
        <div class="x_panel">
          <div class="x_title">
            <h2>{{ grp[0] }}</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li>

                <a href="{{ url_for('settings_blueprint.delete_user_group', device_id=form.device_id, group_id=grp[1]) }}"
                  data-toggle="tooltip" data-placement="top" title="Delete group"><i class="fa fa-trash"></i></a>
              </li>
              <li>
                <a href="{{ url_for('settings_blueprint.goup_creation_and_update', device_id=form.device_id, group_id=grp[1]) }}"
                  data-toggle="tooltip" data-placement="top" title="Edit group"><i class="fa fa-cog"></i></a>
              </li>

            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <table class="table table-striped">
              <!-- <thead>
                <tr>
                  <th><a href="/settings/group/{{ form.device_id }}/{{ grp[1] }}">{{ grp[0] }}</a></th>
                </tr>
              </thead> -->
              <tbody>
                {% for user in users %}
                <tr>
                  <td><a href="/settings/user/{{ user[0] }}">{{ user[1] }}</a> </td>
                </tr>

                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        {% endfor %}


      </div>
    </div>
  </form>
</div>
{% if status == 'OK' %}
<script>
  window.addEventListener('DOMContentLoaded', function (e) {
    $(document).ready(function () {
      (new PNotify({
        title: 'Success',
        text: 'Parameters saved',
        type: 'success',
        styling: 'bootstrap3'
      }));
    });
  });
</script>
{% elif status == '' %}

{% else %}
<script>
  window.addEventListener('DOMContentLoaded', function (e) {
    $(document).ready(function () {
      (new PNotify({
        title: 'An error occured',
        text: '{{ status }}',
        type: 'error',
        styling: 'bootstrap3'
      }));
    });
  });
</script>
{% endif %}
{% endblock content %}

{% block javascripts %}
{{ super()}}
{% endblock javascripts %}