{% extends "base_site.html" %}

{% block title %} {{ title }} {% endblock title %}

{% block stylesheets %}
{{ super() }}
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
    <form data-parsley-validate method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-6">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>{{ form.form_type }}<small>{{ form.title }}</small></h2>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        {{ form.hidden_tag() }}

                        {% for item in form.visible_fields %}
                        <div class="form-group row ">
                            <label class="control-label col-md-3 col-sm-3 ">{{ item.label.text }}
                                {% if item.flags.required %}<span class="required">*</span>{% endif %}
                            </label>
                            <div class="col-md-9 col-sm-9 ">
                                {{ item() }}
                            </div>
                        </div>
                        {% endfor %}

                        <div class="clearfix"></div>

                    </div>
                </div>
                {% if form.submit is defined %}
                {{ form.submit(class="btn btn-secondary")}}
                {% endif %}
                {% if form.delfield is defined %}
                {{ form.delfield(class="btn btn-danger")}}
                {% endif %}
            </div>
            <div class="col-md-6">
                <div class="x_panel">
                    <div class="x_title">
                        <h2> </h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% if status == 'OK' %}
<script>
    window.addEventListener('DOMContentLoaded', function (e) {
        $(document).ready(function () {
            (new PNotify({
                title: 'Success',
                text: 'Parameters saved',
                type: 'success',
                styling: 'bootstrap3'
            }));
        });
    });
</script>
{% elif status|length > 0 %}
<script>
    window.addEventListener('DOMContentLoaded', function (e) {
        $(document).ready(function () {
            (new PNotify({
                title: 'An error occured',
                text: '{{ status }}',
                type: 'error',
                styling: 'bootstrap3'
            }));
        });
    });
</script>
{% endif %}
{% endblock content %}

{% block javascripts %}
{{ super()}}
{% endblock javascripts %}