{% extends "base_site.html" %}

{% block title %} {{ title }} {% endblock title %}

{% block stylesheets %}
{{ super() }}
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
    <form data-parsley-validate method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Users<small>management</small></h2>

                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a href="/settings/new_user"><i class="fa fa-plus"></i></a>
                            </li>
                        </ul>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Phone</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Last login</th>
                                    <th scope="col">Delete</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for u in users_info %}
                                <tr>
                                    <th scope="row">{{loop.index}}</th>
                                    <td>
                                        <a href="/settings/user/{{ u['user_id'] }}">{{ u["email"] }}
                                            {% if u["email_verified"] %}
                                            <i class="fa-solid fa-check"></i>
                                            {% endif %}
                                        </a>
                                    </td>
                                    <td>{{ u.get("user_metadata", {}).get("phone_number", "") }}</td>
                                    <td>{{ u["name"] }}</td>
                                    <td>{{ u["last_login"] }}</td>
                                    <td><a href="/settings/delete_user/{{ u['user_id']}}" data-bs-toggle="tooltip"
                                            title="delete {{ u['email'] }}">
                                            <i class="fa-solid fa-trash"></i>
                                        </a></td>
                                </tr>

                                {% endfor %}

                            </tbody>
                        </table>


                        <div class="clearfix"></div>

                    </div>
                </div>
            </div>

        </div>
    </form>
</div>
{% if status == 'OK' %}
<script>
    window.addEventListener('DOMContentLoaded', function (e) {
        $(document).ready(function () {
            (new PNotify({
                title: 'Success',
                text: 'Parameters saved',
                type: 'success',
                styling: 'bootstrap3',
                delay: 4000
            }));
        });
    });
</script>
{% elif status|length > 0 %}
<script>
    window.addEventListener('DOMContentLoaded', function (e) {
        $(document).ready(function () {
            (new PNotify({
                title: 'An error occured',
                text: '{{ status }}',
                type: 'error',
                styling: 'bootstrap3',
                delay: 4000
            }));
        });
    });
</script>
<script>
    window.addEventListener('DOMContentLoaded', function (e) {
        $(document).ready(function () {
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            });

        });
    });
</script>
{% endif %}
{% endblock content %}

{% block javascripts %}
{{ super()}}
{% endblock javascripts %}