<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}
  {% block meta %}
  <!-- Meta, title, CSS, favicons, etc. -->
  <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/ico" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% endblock meta %}

  <title>AIMsight monitoring | {% block title %}{% endblock %}</title>

  {% block stylesheets %}
  <!-- Bootstrap -->
  <link href="{{ url_for('static', filename='vendors/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
  <!-- Font Awesome -->
  <link href="{{ url_for('static', filename='vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">

  <link href="{{ url_for('static', filename='vendors/font-awesome/css/fontawesome.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendors/font-awesome/css/brands.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendors/font-awesome/css/solid.css') }}" rel="stylesheet">

  <!-- NProgress -->
  <link href="{{ url_for('static', filename='vendors/nprogress/nprogress.css') }}" rel="stylesheet">
  <!-- bootstrap-daterangepicker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.9/flatpickr.min.css"
    integrity="sha512-OtwMKauYE8gmoXusoKzA/wzQoh7WThXJcJVkA29fHP58hBF7osfY0WLCIZbwkeL9OgRCxtAfy17Pn3mndQ4PZQ=="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.9/themes/airbnb.min.css"
    integrity="sha512-s0ZrPrgzmwoIlxJR7XKxtUbqRm103b8HS0wOnWnJSsKO1prue4aGp1XJRGl9OADSKygpFcCQ/xlieqQ773/aAw=="
    crossorigin="anonymous" />
  <!-- iCheck -->
  <link href="{{ url_for('static', filename='vendors/iCheck/skins/flat/green.css') }}" rel="stylesheet">
  <!-- bootstrap-progressbar -->
  <link href="{{ url_for('static', filename='vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css') }}"
    rel="stylesheet">

  <!-- PNotify -->
  <link href="{{ url_for('static', filename='vendors/pnotify/dist/pnotify.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendors/pnotify/dist/pnotify.buttons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendors/pnotify/dist/pnotify.nonblock.css') }}" rel="stylesheet">

  {% endblock stylesheets %}
  <!-- Custom Theme Style -->
  <link href="{{ url_for('static', filename='build/css/custom.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='build/css/style.css') }}" rel="stylesheet">
  {% endblock head %}
</head>

<body class="{% block body_class %}nav-md {% endblock body_class %}">
  {% block body %}
  <div class="container body">
    <div class="main_container">

      {% block sidebar %}
      <div class="col-md-3 left_col {% block sidebar_class %} {% endblock sidebar_class %}">
        {% include "site_template/sidebar.html" %}
      </div>
      {% endblock sidebar %}

      {% block top_navigation %}
      <div class="top_nav">
        {% include "site_template/top_navigation.html" %}
      </div>
      {% endblock top_navigation %}

      {% block content %}
      <!-- {{ content }} -->
      {% endblock content %}

      {% block footer %}
      <footer>
        {% include "site_template/footer.html" %}
      </footer>
      {% endblock footer %}
    </div>
  </div>




  {% block javascripts %}
  <!-- jQuery -->
  <script src="{{ url_for('static', filename='vendors/jquery/dist/jquery.min.js') }}"></script>
  <!-- Bootstrap -->
  <script src="{{ url_for('static', filename='vendors/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
  <!-- FastClick -->
  <script src="{{ url_for('static', filename='vendors/fastclick/lib/fastclick.js') }}"></script>
  <!-- NProgress -->
  <script src="{{ url_for('static', filename='vendors/nprogress/nprogress.js') }}"></script>
  <!-- bootstrap-progressbar -->
  <script src="{{ url_for('static', filename='vendors/bootstrap-progressbar/bootstrap-progressbar.min.js') }}"></script>

  <!-- bootstrap--datetimepicker -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.9/flatpickr.min.js"
    integrity="sha512-+ruHlyki4CepPr07VklkX/KM5NXdD16K1xVwSva5VqOVbsotyCQVKEwdQ1tAeo3UkHCXfSMtKU/mZpKjYqkxZA=="
    crossorigin="anonymous"></script>
  <!-- iCheck -->
  <script src="{{ url_for('static', filename='vendors/iCheck/icheck.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/moment/min/moment.min.js') }}"></script>

  <!-- jQuery Tags Input -->
  <script src="{{ url_for('static', filename='vendors/jquery.tagsinput/src/jquery.tagsinput.js') }}"></script>
  <!-- Select2 -->
  <script src="{{ url_for('static', filename='vendors/select2/dist/js/select2.full.min.js') }}"></script>
  <!-- Autosize -->
  <script src="{{ url_for('static', filename='vendors/autosize/dist/autosize.min.js') }}"></script>
  <!-- starrr -->
  <script src="{{ url_for('static', filename='vendors/starrr/dist/starrr.js') }}"></script>

  <!-- PNotify -->
  <script src="{{ url_for('static', filename='vendors/pnotify/dist/pnotify.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/pnotify/dist/pnotify.buttons.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/pnotify/dist/pnotify.nonblock.js') }}"></script>

  <!-- Sparkline -->
  <script src="{{ url_for('static', filename='vendors/jquery-sparkline/dist/jquery.sparkline.min.js') }}"></script>

  {% endblock %}
  <!-- Custom Theme Scripts -->
  <script src="{{ url_for('static', filename='build/js/iframeResizer.min.js') }}"></script>
  <script src="{{ url_for('static', filename='build/js/custom.js') }}"></script>
  {% endblock body %}
</body>

</html>