<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml"
    xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <!-- [ if !mso]> <!-->
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <title>{{ device_name }}: Obstruction Alarm</title>
</head>

<body>
    <h1>{{ device_name }}: Obstruction Alarm</h1>
    <p>
        Ceci est une notification automatique. Pour toute question y-relative, veuillez vous adresser à
        <a href="mailto:alarm@aimsight.ch">alarm@aimsight.ch</a>.
    </p>

    <p>Certains points de mesure ne sont plus visibles par la station de mesure <b>{{ device_name }}</b>.</p>

    <p>
        Liste des points de mesure affectés par l’obstruction :
    <ul>
        {% for item in output_list %}
        <li>{{ item }}</li>
        {% endfor %}
    </ul>
    </p>


    Veuillez vous référer aux images ci-dessous pour en évaluer la cause : Objet ou végétation entre la station et la
    zone de mesure, cible ou prisme manquant, déplacement de la caméra.


</body>

</html>