<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml"
    xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <!-- [ if !mso]> <!-->
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <title>{{ device_name }}: Obstruction Alarm</title>
</head>

<body>
    <h1>{{ device_name }}: Alarme point {{ output_name }}</h1>
    <p>
        Ceci est une notification automatique. Pour toute question y-relative, veuillez vous adresser à
        <a href="mailto:alarm@aimsight.ch">alarm@aimsight.ch</a>.
    </p>

    <p>Le déplacement constaté sur le point {{ output_name }} dépasse la valeur seuil de {{ output_threshold }}mm.</p>
    <p>Les données de mesures ainsi que la prise de vue courante sont disponibles
        <a href="https://monitoring.aimsight.ch/explore/{{ device_name }}">ici</a>.
    </p>




</body>

</html>